.menu-button 
{
width:940px; 
margin: 0 auto;
height: 110px;
}

.button-setting{
	margin: 0 auto 0 auto ;
	width: 100%; ;
  display: none;	
}
.button-setting li
{
  float: none;
}
.button-setting ul 
{

  overflow: hidden;
  padding: 0;
}

.button-setting a 
{
  text-align: center; 
  display: block;
  padding: 0.5em;
  border: 1px solid #ADC0CE;
  color: #efefef;
  font-size: 24px
}
.button-setting a:hover {background: black}

a {all: unset;}


.home-img
{
  display: inline;
}

.menu-icon
{
  float: right;
  margin-top: 30px;
  width: 43px; 
  margin: 10 20;
}

#body
{
  min-height: calc(100vh - 115px);
}

.footer
{
  padding-bottom: 60px;
}

/* burger */
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

h1 {
    text-align: center;
}

.container-box {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    margin: 0 auto;
    margin: 10px 0;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #ee584a;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}


/* HAMBURGER 4 */

.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
    top: 13.5px;
}

.hamburger4 .bar5 {
    bottom: 0px;
}

.hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 13.5px;
}

.hamburger4 .bar3 {
    width: 1px;
    left: 13.5px;
    
}

.checkbox4:checked + label > .hamburger4 > .bar1{
    top: 13.5px;
    background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar2{
    left: 0px;
    width: 30px;
    transform: rotate(45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar3{
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar4{
    background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar5{
    bottom: 13.5px;
    background-color: transparent; 
}


    .contacts
  {
    display: unset;
    float: left;
  }

  .menu-icon
    {display: none;}
@media(max-width: 940px)
{
    .menu-button
  {
    width: 100%;
  }
}

@media(max-width: 900px)
{
  .menu-icon
    {display: block;}
}

@media(max-width: 654px)
{
    .contacts
  {
    display: none;
  }
}
@media(max-width: 420px)
{
  .logo
  {
    display: none;
  }
  .company-name
  {
    margin-left: 9px;
  }
}